.navbar { 
    flex-wrap: nowrap !important;
}

.navbar i { 
    color: #fff
}
.logo img { 
    max-width: 125px;
}

.bg-light { 
    background-color: #016337 !important;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.Menu ul { 
    padding-left: 20px
}

#section1{
    background-image: url('img/fundo_inicial.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 561px;
}

.banner { 
    text-align: center;
}

.banner img { 
    max-width: 60px; 
}